{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <title>BetaMac</title>
</head>
<body>
    <header class="main-header game">
        <div class="header-container game">
            <form>
                <!-- this method of hx-trigger may pose an issue. but only if the user clicks the seconds and that would ruin their session -->
                <div class="logo game">Seconds Left:<div class="logo countdown" id="countdown">...</div></div>
                {% csrf_token %}
            </form>
            </div>
        <nav class="main-nav">
            <ul>
                <div class="score-container game">
                    <li id="label-a">Your Score:</li>
                    <li class="score-value" id="score_a">0</li>
                </div>
            </ul>
            <ul>
                <div class="score-container game">
                    <li id="label-b">Opponents Score:</li>
                    <li class="score-value" id="score_b">0</li>
                </div>
            </ul>
        </nav>
    </header>
    <main class="game-container">

        <div id="game-banner" class="game-banner">
            <div id="active-game-ui">
                <h1 class="header game" id="equation-box"></h1>
                <input class="user-input game" type="number" id="user-input-game">
            </div>

            <div id="results-ui" class="results-container multi">
                <div class="header-container results">
                    <div class="logo score">Your Score: <div id="final-score-a" class="header score"></div></div>
                    <div class="logo score">Opponent's Score: <div id="final-score-b" class="header score"></div></div>
                </div>
                <div class="link-container">
                    <a class="link left" onclick="rematch()">Rematch</a>
                    <a class="link" href="/">Back to Home</a>
                </div>
            </div>
            <script>
                function rematch() {
                    gameSocket.send(JSON.stringify({
                        "type": "rematch_request",
                        "status": "rematch",
                    }));
            }
            </script>
        </div>
    </main>
    {% if distractions %}
        <audio id="audio-player" src="" loop="loop"></audio>
    {% endif %}

    {{ lobby_code|json_script:"lobby-code" }}
    <script>
        let winner = "";
        let finalScoreA = 0;
        let finalScoreB = 0;

        // start websocket -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        const lobbyCode = JSON.parse(document.getElementById("lobby-code").textContent);
        const gameSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/'
            + lobbyCode
            + '/'
        );

        
        // countdown timer -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        let countdownRunStatus = true;
        let duration = 120;
        function startTimer() {
            countdownRunStatus = true;
            const countdownDisplay = document.getElementById("countdown");
            if (countdownRunStatus) {
                let countdownTime = duration;
                let countdownInterval;
                const updateCountdown = () => {
                    if (countdownTime >= 0) {
                        countdownDisplay.textContent = countdownTime;
                        countdownTime--;
                    }  else if (countdownTime < 0) {
                        countdownRunStatus = false;
                        clearInterval(countdownInterval);

                        gameSocket.send(JSON.stringify({
                            "type": "game_end",
                            "status": "over",
                        }));
                    }
                }; 
                countdownInterval = setInterval(updateCountdown, 1000);
            }
        }

        // generate problems -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        let myRole = "";

        const labelA = document.getElementById("label-a");
        const labelB = document.getElementById("label-b");
        
        let addition_left_min = 2;
        let addition_left_max = 100;
        let addition_right_min = 2;
        let addition_right_max = 100;

        let multiplication_left_min = 2;
        let multiplication_left_max = 12;
        let multiplication_right_min = 2;
        let multiplication_right_max = 100;

        let operations = [];
    
        const scoreA = document.getElementById("score_a");
        const scoreB = document.getElementById("score_b");

        // all incoming messages routed through here
        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            // start game ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            if (data["type"] == "game_config") {
                document.getElementById("active-game-ui").style.display = "flex";
                document.getElementById("results-ui").style.display = "none";

                addition_left_min = parseInt(data["addition_left_min"], 10);
                addition_left_max = parseInt(data["addition_left_max"], 10);
                addition_right_min = parseInt(data["addition_right_min"], 10);
                addition_right_max = parseInt(data["addition_right_max"], 10);

                multiplication_left_min = parseInt(data["multiplication_left_min"], 10);
                multiplication_left_max = parseInt(data["multiplication_left_max"], 10);
                multiplication_right_min = parseInt(data["multiplication_right_min"], 10);
                multiplication_right_max = parseInt(data["multiplication_right_max"], 10);

                operations = JSON.parse(data["allowed_operations"]);

                duration = parseInt(data["duration"], 10);

                myRole = data["player_role"];

                if (myRole === "A") {
                    labelA.innerText = "Your Score:";
                    labelB.innerText = "Opponent:";
                } else if (myRole === "B") {
                    labelA.innerText = "Opponent:";
                    labelB.innerText = "Your Score:";
                }
                produceEquation();
                startTimer();

            // score update ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            } else if (data["type"] == "score_update") {
                let curr_score_a = data["score_a"];
                let curr_score_b = data["score_b"];

                scoreA.innerText = curr_score_a;
                scoreB.innerText = curr_score_b;

            // end game -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            } else if (data["type"] == "game_end") {
                finalScoreA = data["score_a"];
                finalScoreB = data["score_b"];
                winner = data["winner"];

                document.getElementById("active-game-ui").style.display = "none";
                document.getElementById("results-ui").style.display = "flex";

                const finalScoreADiv = document.getElementById("final-score-a");
                const finalScoreBDiv = document.getElementById("final-score-b");
                finalScoreADiv.innerHTML = finalScoreA;
                finalScoreBDiv.innerHTML = finalScoreB;
            }
        }
        
        let problem;
        let answer;
        function produceEquation() {
            function getRandomInt(min, max) {
                // Math.random() produces a float value between 0 and 1 (like .7). not super sure what adding min to the end does
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }
            
            let addition_num1 = getRandomInt(addition_left_min, addition_left_max);
            let addition_num2 = getRandomInt(addition_right_min, addition_right_max);
            let multiplication_num1 = getRandomInt(multiplication_left_min, multiplication_left_max);
            let multiplication_num2 = getRandomInt(multiplication_right_min, multiplication_right_max);

            let operation = operations[Math.floor(Math.random() * operations.length)];

            switch (operation) {
                case '+':
                    problem = `${addition_num1} + ${addition_num2} =`;
                    // numbers were being read as strings, not ints. not sure why but parseInt fixes the issue.
                    answer = addition_num1 + addition_num2;
                    break;
                case '-':
                    problem = `${addition_num1} - ${addition_num2} =`;
                    answer = addition_num1 - addition_num2;
                    break;
                case '*':
                    problem = `${multiplication_num1} x ${multiplication_num2} =`;
                    answer = multiplication_num1 * multiplication_num2;
                    break;
                case '/':
                    answer = getRandomInt(multiplication_right_min, multiplication_right_max);
                    let num2 = getRandomInt(multiplication_left_min, multiplication_left_max);
                    let num1 = answer * num2;
                    problem = `${num1} / ${num2} =`;
                    break;
            }

            const equationBox = document.getElementById("equation-box");
            // remember you can only use .value on inputs
            equationBox.innerHTML = problem;
        }
        
        // check answer ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        const inputBox = document.getElementById("user-input-game");
        inputBox.addEventListener("input", () =>  {
            // correct answer
            if (parseInt(inputBox.value, 10) === answer) {
                inputBox.value = "";

                // send score update
                gameSocket.send(JSON.stringify({
                    "type": "score_update",
                    "status": "correct",
                }));

                produceEquation();
            }
        });
        

        // play random noise ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        const audioFiles = [
            "{% static 'sounds/birds-chirping.mp3' %}",
            "{% static 'sounds/car-alarm.mp3' %}",
            "{% static 'sounds/people-talking.mp3' %}",
            "{% static 'sounds/heavy-rainfall.mp3' %}",
            "{% static 'sounds/gunshots.mp3' %}",
            "{% static 'sounds/wind.mp3' %}",
        ];

        window.onload = function playSound() {
            setTimeout(function() {
                const randomSoundIndex = Math.floor(Math.random() * audioFiles.length);
                const selectedFile = audioFiles[randomSoundIndex];
                
                const audioPlayer = document.getElementById("audio-player");
                audioPlayer.src = selectedFile;
                audioPlayer.play();
            }, 2000);
        };

    </script>

</body>
</html>