{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
    <title>BetaMac</title>
</head>
<body>
    <header class="main-header">
        <div class="logo"><a href="{% url 'index' %}">BetaMac</a></div>
        <nav class="main-nav">
            <ul>
                <li><a href="">How to Play</a></li>
            </ul>
        </nav>
    </header>

    <main class="index-container">
        <form method="POST" action="{% url 'pass_range_parameters' %}">
            <div class="instruction-container index">
                <div class="game-mode-tabs">
                    <button class="game-mode-tab active">Solo</button>
                    <button class="game-mode-tab">Friends</button>
                </div>
                <div class="upper-container index">
                    <h1 class="header index">Arithmetic Game</h1>
                    <div class="header-container arithmetic-type">
                        <label class="label duration">Distractions</label>
                        <label class="switch">
                            <input type="checkbox" name="distractions_enabled">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <p class="description-text index">
                    The Arithmetic Game is a fast-paced speed drill where you are given two minutes to solve as many arithmetic problems as you can.
                </p>
                <p class="description-text index">
                    If you have questions, consult the BetaMac "How to Play" page.
                </p>
            </div>
            

            <!-- when the user boots up the'll see this. -->
            <div id="solo-mode" class="arithmetic-type-container">
                <div class="header-container arithmetic-type">
                    <label class="label duration">Addition</label>
                    <label class="switch">
                        <input type="checkbox" name="addition_enabled" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="range-container">
                    <p class="description-text range">
                        Range: (
                        {{ form.addition_left_min }}
                        to 
                        {{ form.addition_left_max }}
                        ) + (
                        {{ form.addition_right_min }} 
                        to 
                        {{ form.addition_right_max }}
                        )
                    </p>
                </div>

                <div class="header-container arithmetic-type">
                    <label class="label duration">Subtraction</label>
                    <label class="switch">
                        <input type="checkbox" name="subtraction_enabled" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="range-container">
                    <p class="description-text range">
                        Addition problems in reverse.
                    </p>
                </div>

                <div class="header-container arithmetic-type">
                    <label class="label duration">Multiplication</label>
                    <label class="switch">
                        <input type="checkbox" name="multiplication_enabled" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="range-container">
                    <p class="description-text range">
                        Range: (
                        {{ form.multiplication_left_min }} 
                        to 
                        {{ form.multiplication_left_max }} 
                        ) + (
                        {{ form.multiplication_right_min }}  
                        to 
                        {{ form.multiplication_right_max }} 
                        )
                    </p>
                </div>

                <div class="header-container arithmetic-type">
                    <label class="label duration">Division</label>
                    <label class="switch">
                        <input type="checkbox" name="division_enabled" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="range-container">
                    <p class="description-text range">
                        Multiplication problems in reverse.
                    </p>
                </div>
                <div id="duration-container" class="duration-container">
                    <div class="left-side index">
                        <label class="label duration">Duration: </label> 
                        <select name="durations" id="duration-selector" class="duration-selector">
                            <option value="3">3 seconds</option>
                            <option value="60">60 seconds</option>
                            <option selected="selected" value="120">120 seconds</option>
                            <option value="300">300 seconds</option>
                            <option value="600">600 seconds</option>
                        </select>
                    </div>
                    {% csrf_token %}
                    <input type="hidden" name="duration_selector" id="duration_selector" value="120"/>
                    <button type="submit" id="start-game-button" class="submit-btn">Start</button>
                </div>
            </div>

            <!-- default display is none, only appears when toggled -->
                <div id="friends-mode">
                <!-- will do this in a bit -->
                </div>
        </form>
    </main>

    <footer>
        <div class="logo footer"><a href="{% url 'index' %}">Coming Soon</a></div>
    </footer>
    <script>
        // changes duration ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        const durationSelector = document.getElementById("duration-selector");
        durationSelector.onchange = function changeDuration() {
            const hiddenDuration = document.getElementById("duration_selector");
            const selectedOption = durationSelector.options[durationSelector.selectedIndex];
            hiddenDuration.value = selectedOption.value;
        }
    </script>


</body>
</html>