{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
    <title>BetaMac</title>
</head>
<body>
    <header class="main-header">
        <div class="logo"><a href="{% url 'index' %}">BetaMac</a></div>
        <nav class="main-nav">
            <ul>
                <li><a href="">How to Play</a></li>
            </ul>
        </nav>
    </header>

    <main class="index-container">
        <form class="game-mode-tab-container"> 
            <div id="game-mode-tabs" class="game-mode-tabs">
                <button type="button" class="game-mode-tab active" hx-get="{% url 'load_solo' %}" hx-target="#mode" hx-swap="innerHTML">Solo</button>
                <button type="button" class="game-mode-tab" hx-get="{% url 'load_multi' %}" hx-target="#mode" hx-swap="innerHTML">Multiplayer</button>
                {% csrf_token %}
            </div>
        </form>
        <form method="POST" action="{% url 'pass_range_parameters' %}" >
            {% csrf_token %}
            <div class="instruction-container index">
                <div class="upper-container index">
                    <h1 class="header index">Arithmetic Game</h1>
                    <div class="header-container arithmetic-type">
                        <label class="label duration">Distractions</label>
                        <label class="switch">
                            <input type="checkbox" name="distractions_enabled">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <p class="description-text index">
                    The Arithmetic Game is a fast-paced speed drill where you are given two minutes to solve as many arithmetic problems as you can.
                </p>
                <p class="description-text index">
                    If you have questions, consult the BetaMac "How to Play" page.
                </p>
            </div>
            

            <!-- when the user boots up the'll see this. -->
            <div id="mode" class="arithmetic-type-container">
                {% include "game/solo/solo_fragment.html" %}
            </div>
        </form>
    </main>

    <footer>
        <div class="logo footer"><a href="{% url 'index' %}">Coming Soon</a></div>
    </footer>
    <script>
        // changes duration ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        const durationSelector = document.getElementById("duration-selector");
        durationSelector.onchange = function changeDuration() {
            const hiddenDuration = document.getElementById("duration_selector");
            const selectedOption = durationSelector.options[durationSelector.selectedIndex];
            hiddenDuration.value = selectedOption.value;
        }

        // switch active status -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        const gameModeTabs = document.getElementById("game-mode-tabs");
        if (gameModeTabs) {
            gameModeTabs.addEventListener('click', function(e) {
                if (e.target.tagName === 'BUTTON') {
                    const buttons = gameModeTabs.querySelectorAll('button');
                    buttons.forEach(btn => {
                        btn.classList.remove('active');
                    });
                    e.target.classList.add('active');
                }
            });
        }
    </script>


</body>
</html>