{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <title>BetaMac</title>
</head>
<body>
    <header class="main-header game">
        <div class="header-container game">
            <form>
                <!-- this method of hx-trigger may pose an issue. but only if the user clicks the seconds and that would ruin their session -->
                <div class="logo game">Seconds Left:<div hx-get="{% url 'show_game_results' %}" hx-trigger="click" hx-target="#game-banner" hx-replace="innerHTML" class="logo countdown" id="countdown">{{ duration }}</div></div>
                {% csrf_token %}
            </form>
            </div>
        <nav class="main-nav">
            <ul>
                <div class="score-container game">
                    <li>Score:</li>
                    <li class="score-value" id="score">0</li>
                </div>
            </ul>
        </nav>
    </header>
    <main class="game-container">

        <div id="game-banner" class="game-banner">
            <h1 class="header game" id="equation-box"></h1>
            <input class="user-input game" type="number" id="user-input-game">
        </div>
    </main>
    {% if distractions %}
        <audio id="audio-player" src="" loop="loop"></audio>
    {% endif %}

    {{ allowed_operations|json_script:"allowed-operations-json" }}

    <script>
        // replace after countdown ends -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        

        
        
        // countdown timer -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        let countdownRunStatus = true;
        const countdownDisplay = document.getElementById("countdown");
        if (countdownRunStatus) {
            let countdownTime = "{{ duration }}";
            let countdownInterval;
            const updateCountdown = () => {
                if (countdownTime >= 0) {
                    countdownDisplay.textContent = countdownTime;
                    countdownTime--;
                }  else if (countdownTime < 0) {
                    countdownRunStatus = false;
                    countdownDisplay.click();
                    clearInterval(countdownInterval);
                }
            }; 
            countdownInterval = setInterval(updateCountdown, 1000);
        }

        // generate problems -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        const addition_left_min = parseInt("{{ addition_left_min }}", 10);
        const addition_left_max = parseInt("{{ addition_left_max }}", 10);
        const addition_right_min = parseInt("{{ addition_right_min }}", 10);
        const addition_right_max = parseInt("{{ addition_right_max }}", 10);

        const multiplication_left_min = parseInt("{{ multiplication_left_min }}", 10);
        const multiplication_left_max = parseInt("{{ multiplication_left_max }}", 10);
        const multiplication_right_min = parseInt("{{ multiplication_right_min }}", 10);
        const multiplication_right_max = parseInt("{{ multiplication_right_max }}", 10);
        
        let problem;
        let answer;
        function produceEquation() {
            function getRandomInt(min, max) {
                // Math.random() produces a float value between 0 and 1 (like .7). not super sure what adding min to the end does
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }
            
            let addition_num1 = getRandomInt(addition_left_min, addition_left_max);
            let addition_num2 = getRandomInt(addition_right_min, addition_right_max);
            let multiplication_num1 = getRandomInt(multiplication_left_min, multiplication_left_max);
            let multiplication_num2 = getRandomInt(multiplication_right_min, multiplication_right_max);

            let operations = JSON.parse(document.getElementById("allowed-operations-json").textContent);
            let operation = operations[Math.floor(Math.random() * operations.length)];

            switch (operation) {
                case '+':
                    problem = `${addition_num1} + ${addition_num2} =`;
                    // numbers were being read as strings, not ints. not sure why but parseInt fixes the issue.
                    answer = addition_num1 + addition_num2;
                    break;
                case '-':
                    problem = `${addition_num1} - ${addition_num2} =`;
                    answer = addition_num1 - addition_num2;
                    break;
                case '*':
                    problem = `${multiplication_num1} x ${multiplication_num2} =`;
                    answer = multiplication_num1 * multiplication_num2;
                    break;
                case '/':
                    answer = getRandomInt(multiplication_right_min, multiplication_right_max);
                    let num2 = getRandomInt(multiplication_left_min, multiplication_left_max);
                    let num1 = answer * num2;
                    problem = `${num1} / ${num2} =`;
                    break;
            }

            const equationBox = document.getElementById("equation-box");
            // remember you can only use .value on inputs
            equationBox.innerHTML = problem;
        }
        
        // check answer ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        const inputBox = document.getElementById("user-input-game");
        let score = 0;
        inputBox.addEventListener("input", () =>  {
            if (parseInt(inputBox.value, 10) === answer) {
                const scoreHeader = document.getElementById("score");
                score += 1;
                scoreHeader.innerHTML = "";
                scoreHeader.innerHTML = `${score}`;

                inputBox.value = "";
                produceEquation();
            }
        });
        produceEquation();

        // play random noise ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        const audioFiles = [
            "{% static 'sounds/birds-chirping.mp3' %}",
            "{% static 'sounds/sounds/car-alarm.mp3' %}",
            "{% static 'sounds/people-talking.mp3' %}",
            "{% static 'sounds/heavy-rainfall.mp3' %}",
            "{% static 'sounds/gunshots.mp3' %}",
            "{% static 'sounds/wind.mp3' %}",
        ];

        window.onload = function playSound() {
            setTimeout(function() {
                const randomSoundIndex = Math.floor(Math.random() * audioFiles.length);
                const selectedFile = audioFiles[randomSoundIndex];
                
                const audioPlayer = document.getElementById("audio-player");
                audioPlayer.src = selectedFile;
                audioPlayer.play();
            }, 1000);
        };

    </script>

</body>
</html>