{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
    <title>BetaMac</title>
</head>
<body>
    <header class="main-header game">
        <div class="header-container game">
            <form>
                <!-- this method of hx-trigger may pose an issue. but only if the user clicks the seconds and that would ruin their session -->
                <div class="logo game">Seconds Left:<div hx-get="{% url 'show_game_results' %}" hx-trigger="click" hx-target="#game-banner" hx-replace="innerHTML" class="logo countdown" id="countdown">{{ duration }}</div></div>
                {% csrf_token %}
            </form>
            </div>
        <nav class="main-nav">
            <ul>
                <div class="score-container game">
                    <li>Score:</li>
                    <li class="score-value" id="score">0</li>
                </div>
            </ul>
        </nav>
    </header>
    <main class="game-container">

        <div id="game-banner" class="game-banner">
            <h1 class="header game" id="equation-box"></h1>
            <dialog><input class="user-input game" type="number" onchange="checkSolutionStatus()" id="user-input-game" autocomplete="off" required autofocus></dialog>
        </div>
    </main>

    <script>
        // replace after countdown ends -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        

        
        
        // countdown timer -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        let countdownRunStatus = true;
        const countdownDisplay = document.getElementById("countdown");
        if (countdownRunStatus) {
            let countdownTime = "{{ duration }}";
            const updateCountdown = () => {
                if (countdownTime >= 0) {
                    countdownDisplay.textContent = countdownTime;
                    countdownTime--;
                }  else if (countdownTime < 0) {
                    countdownRunStatus = false;
                    countdownDisplay.click();
                }
            }; 
            const countdownInterval = setInterval(updateCountdown, 1000);
        }

        // generate problems -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        const addition_left_min = "{{ addition_left_min }}";
        const addition_left_max = "{{ addition_left_max }}";
        const addition_right_min = "{{ addition_right_min }}";
        const addition_right_max = "{{ addition_right_max }}";

        const multiplication_left_min = "{{ multiplication_left_min }}";
        const multiplication_left_max = "{{ multiplication_left_max }}";
        const multiplication_right_min = "{{ multiplication_right_min }}";
        const multiplication_right_max = "{{ multiplication_right_max }}";
        
        let problem;
        let answer;
        function produceEquation() {
            function getRandomAdditionInt(min, max) {
                // Math.random() produces a float value between 0 and 1 (like .7). not super sure what adding min to the end does
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }
            
            let addition_num1 = getRandomAdditionInt(addition_left_min, addition_left_max);
            let addition_num2 = getRandomAdditionInt(addition_right_min, addition_right_max);

            let multiplication_num1 = getRandomAdditionInt(multiplication_left_min, multiplication_left_max);
            let multiplication_num2 = getRandomAdditionInt(multiplication_right_min, multiplication_right_max);

            let operations = ['+', '-', '*', '/'];
            let operation = operations[Math.floor(Math.random() * operations.length)];

            switch (operation) {
                case '+':
                    problem = `${addition_num1} + ${addition_num2} =`;
                    // numbers were being read as strings, not ints. not sure why but parseInt fixes the issue.
                    answer = parseInt(addition_num1) + parseInt(addition_num2);
                    break;
                case '-':
                    problem = `${addition_num1} - ${addition_num2} =`;
                    answer = parseInt(addition_num1) - parseInt(addition_num2);
                    break;
                case '*':
                    problem = `${multiplication_num1} x ${multiplication_num2} =`;
                    answer = multiplication_num1 * multiplication_num2;
                    break;
                case '/':
                    problem = `${multiplication_num1} / ${multiplication_num2} =`;
                    answer = multiplication_num1 / multiplication_num2;
                    break;
            }

            const equationBox = document.getElementById("equation-box");
            // remember you can only use .value on inputs
            equationBox.innerHTML = problem;
        }
        
        // check answer ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        const inputBox = document.getElementById("user-input-game");
        let score = 0;
        function checkSolutionStatus() {
            if (inputBox.value == answer) {
                const scoreHeader = document.getElementById("score");
                score += 1;
                scoreHeader.innerHTML = "";
                scoreHeader.innerHTML = `${score}`;

                inputBox.value = "";
                produceEquation();
            }
        }
        produceEquation();
    </script>

</body>
</html>